body{
    text-align: center;
    background-color: #2b72e5;
    font-family: monospace;
    color: white;
}

h1{
    font-size: 40pt;
}

h1 img{
    height: 1em;
}
#content{
    display: flex;
    justify-content: space-around;
}
#signup{
    display: flex;
    justify-content: center;
    border: 3px solid yellow;
    padding: 1em;
}

#labels{
    text-align: left;
}
#submit{
    
}