h1 {
    font-size: 40pt;
}

h2 {
    font-size: 30pt;
}

heading img {
   height: 1em; 
}

body {
    background-color: #2b72e5;
    font-family: monospace;
    color: white;
}

.outerDiv {
    border: #f4eb33 3px solid;
    box-sizing: border-box;
    padding: 5px;
}
.control{
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 0.5em;
}
#gameView{
    display: block;
    height: 300px;
    width: 100%;
    background-color: orange;
    border: 3px solid black;
    text-align: center;
}
